{% extends 'store/main.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block content %}
<head>
	<title>About</title>

	<!-- <link id="mystylesheet" rel="stylesheet" type="text/css" href="{% static 'store/css/light.css' %}"> -->

</head>
<body>

	<div id="box">
		<img id="profile_pic" src="{% static 'store/images/yemi.jpg' %} ">
		<h2>Hi, I am Yemane!</h2>
		<p>I love coding, Building awesome projects, doing research and sharing what I learn with others :)</p>
		<hr>
	</div>

</body>

{% endblock content %}
</html>