{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
  <title>Login|Bold_Ecommerce</title>
  <link rel="stylesheet" type="text/css" href="{% static 'store/css/login.css'%}">
</head>
<body>
  <div class="loginbox">
  <img src="{% static 'store/images/avatar.png' %}" class="avatar">
      <h1> <strong> Login </strong> <img src="{% static 'store/images/key.ico' %}"> </h1>
      <form method="post">
          {% csrf_token  %}
          {{  form.as_p   }}
          <input type="submit" name="" value="Login">
          <a href="{% url 'password_reset' %}">Lost your password?</a><br>
          <a href="{% url 'register' %}">Don't have an account?</a>
      </form>
  </div>
</body>
{% endblock %}
